<%- include('partials/header'); -%>


<div class="details">
  <h1><%= blog.title %></h1>
  <div class="markdown-body">
    <%- blog.body %>
  </div>
</div>

<% if (user) { %>
<button class="btn-delete" data-doc="<%= blog._id %>">delete</button>
<button class="btn-update" data-doc="<%= blog._id %>">modify</button>
<% } %>

<% if (user) { %>
<script>

  // update button
  const update = document.querySelector('button.btn-update');

  update.addEventListener('click', (e) => {
    window.open(`/blogs/update/${trashcan.dataset.doc}`, "_self");
  });

  // delete button
  const trashcan = document.querySelector('button.btn-delete');

  trashcan.addEventListener('click', (e) => {
    const endpoint = `/blogs/${trashcan.dataset.doc}`;

    fetch(endpoint, {
      method: 'DELETE',
    })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
  });

</script>
<% } %>

<%- include('partials/footer'); -%>